In [1]:
import pandas as pd

In [2]:
# 一些常量
data_path = 'kaggle/data/'
train_data_name = 'train.csv'
test_data_name = 'test.csv'

In [3]:
train_data = pd.read_csv(data_path + train_data_name)
test_data = pd.read_csv(data_path + test_data_name)

In [4]:
train_data.shape

(857409, 28)

In [5]:
test_data.shape

(1920335, 13)

In [6]:
train_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,TimeFromFirstStop_p40,TimeFromFirstStop_p50,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City
0,1920335,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
1,1920336,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
2,1920337,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
3,1920338,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
4,1920339,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
5,1920340,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,2,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
6,1920341,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,3,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
7,1920342,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,3,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
8,1920343,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,4,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
9,1920344,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,4,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta

In [7]:
test_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,Month,Path,City
0,0,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,0,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta
1,1,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,0,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta
2,2,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,1,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
3,3,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,1,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta
4,4,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,2,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
5,5,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,5,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta
6,6,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,6,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta
7,7,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,6,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
8,8,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,6,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta
9,9,1,33.75094,-84.39303,Mitchell Street Southwest,Peachtree Street Southwest,SE,NE,7,0,6,Mitchell Street Southwest_SE_Peachtree Street ...,Atlanta