In [1]:
import pandas as pd

In [2]:
# 读取数据
data_path = 'Kaggle/data/'
train_data_name = 'train.csv'
test_data_name = 'test.csv'
train_data = pd.read_csv(data_path + train_data_name)
test_data = pd.read_csv(data_path + test_data_name)

In [3]:
train_data.columns.values

array(['RowId', 'IntersectionId', 'Latitude', 'Longitude',
       'EntryStreetName', 'ExitStreetName', 'EntryHeading', 'ExitHeading',
       'Hour', 'Weekend', 'Month', 'Path', 'TotalTimeStopped_p20',
       'TotalTimeStopped_p40', 'TotalTimeStopped_p50',
       'TotalTimeStopped_p60', 'TotalTimeStopped_p80',
       'TimeFromFirstStop_p20', 'TimeFromFirstStop_p40',
       'TimeFromFirstStop_p50', 'TimeFromFirstStop_p60',
       'TimeFromFirstStop_p80', 'DistanceToFirstStop_p20',
       'DistanceToFirstStop_p40', 'DistanceToFirstStop_p50',
       'DistanceToFirstStop_p60', 'DistanceToFirstStop_p80', 'City'],
      dtype=object)

In [4]:
# 缺省值填充
train_data.fillna("Unknown",inplace=True)
train_data.fillna("Unknown",inplace=True)

In [5]:
# 交叉路口按城市分类
train_data["City_Intersection"] = train_data["City"] + train_data["IntersectionId"].astype(str)
test_data["City_Intersection"] = test_data["City"] + test_data["IntersectionId"].astype(str)

In [6]:
train_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,TimeFromFirstStop_p50,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City,City_Intersection
0,1920335,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
1,1920336,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
2,1920337,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
3,1920338,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
4,1920339,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
5,1920340,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,2,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
6,1920341,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,3,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
7,1920342,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,3,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
8,1920343,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,4,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0
9,1920344,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,4,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta,Atlanta0

In [7]:
test_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,Month,Path,City,City_Intersection
0,0,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,0,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta,Atlanta1
1,1,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,0,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta,Atlanta1
2,2,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,1,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta,Atlanta1
3,3,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,1,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta,Atlanta1
4,4,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,2,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta,Atlanta1
5,5,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,5,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta,Atlanta1
6,6,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,6,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta,Atlanta1
7,7,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,6,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta,Atlanta1
8,8,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,6,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta,Atlanta1
9,9,1,33.75094,-84.39303,Mitchell Street Southwest,Peachtree Street Southwest,SE,NE,7,0,6,Mitchell Street Southwest_SE_Peachtree Street ...,Atlanta,Atlanta1

In [8]:
len(train_data['City_Intersection'].unique())

4796

In [9]:
count = len(train_data['City_Intersection'].unique())
count

4796

In [10]:
# 处理加上城市的交叉路口信息
city_id = pd.DataFrame(data=list(range(count)), index=train_data['City_Intersection'].unique()).to_dict()[0]
train_data['City_Intersection'] = train_data['City_Intersection'].map(city_id)

In [11]:
train_data['City_Intersection'].unique()

array([   0,    1,    2, ..., 4793, 4794, 4795], dtype=int64)

In [12]:
test_data['City_Intersection'] = test_data['City_Intersection'].map(city_id)
test_data['City_Intersection'].fillna(int(count), inplace=True)

In [13]:
test_data['City_Intersection'].unique()

array([1.000e+00, 2.000e+00, 4.796e+03, ..., 4.788e+03, 4.794e+03,
       4.795e+03])

In [14]:
test_data['City_Intersection'] = test_data['City_Intersection'].astype('int64')

In [15]:
test_data['City_Intersection'].unique()

array([   1,    2, 4796, ..., 4788, 4794, 4795], dtype=int64)

In [16]:
# 进入路口
street_id = pd.DataFrame(data=list(range(len(train_data["EntryStreetName"].append(train_data["ExitStreetName"]).unique()))), index=train_data["EntryStreetName"].append(train_data["ExitStreetName"]).unique()).to_dict()[0]
train_data["EntryStreetID"] = train_data["EntryStreetName"].map(street_id)

In [17]:
train_data["EntryStreetID"].unique()

array([   0,    1,    2, ..., 1705, 1706, 1707], dtype=int64)

In [18]:
count_street = len(train_data["EntryStreetID"].unique())
count_street

1708

In [19]:
test_data["EntryStreetID"] = test_data["EntryStreetName"].map(street_id)
test_data["EntryStreetID"].fillna(int(count_street), inplace=True)
test_data["EntryStreetID"] = test_data["EntryStreetID"].astype('int64')

In [20]:
test_data["EntryStreetID"].unique()

array([   2,    3,    4, ..., 1700, 1701, 1702], dtype=int64)

In [21]:
# 处理出口
train_data["ExitStreetID"] = train_data["ExitStreetName"].map(street_id)
test_data["ExitStreetID"] = test_data["ExitStreetName"].map(street_id)
test_data["ExitStreetID"].fillna(int(count_street), inplace=True)
test_data["ExitStreetID"] = test_data["ExitStreetID"].astype('int64')

In [22]:
train_data['ExitStreetID'].unique()

array([   0,    2,    3, ..., 1705, 1706, 1707], dtype=int64)

In [23]:
test_data['ExitStreetID'].unique()

array([   3,    2,    5, ..., 1698, 1699, 1700], dtype=int64)

In [24]:
len(train_data["EntryStreetName"])

857409

In [25]:
street_type = ["St", "Street", "Ave", "Avenue", "Boulevard", "Road", "Drive", "Lane", "Tunnel", "Highway", "Way", "Parkway", "Parking", "Oval", "Square", "Place", "Bridge", "Unknown"]
street_type_num = [0, 0, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 10, 11, 12, 13, 14]

In [26]:
# 处理街道类型
def get_street_type(row, column):
    temp = 0
    for i, s in enumerate(street_type):
        if s not in row[column]:
            temp = 15
        else:
            return street_type_num[int(i)]
    if temp == 0:
        temp = 15
    return temp

In [27]:
# 提取街道类型
def extract_street_type(df, column):
    df[column.replace("StreetName", "Type")] = df.apply(lambda row: get_street_type(row, column), axis=1)

In [28]:
extract_street_type(train_data, "EntryStreetName")
extract_street_type(train_data, "ExitStreetName")

In [29]:
test_data["EntryStreetName"] = test_data["EntryStreetName"].astype("str")
test_data["ExitStreetName"] = test_data["ExitStreetName"].astype("str")

In [30]:
extract_street_type(test_data, "EntryStreetName")
extract_street_type(test_data, "ExitStreetName")

In [31]:
test_data.loc[6532:6533]

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,Month,Path,City,City_Intersection,EntryStreetID,ExitStreetID,EntryType,ExitType
6532,6532,10,33.65287,-84.39762,nan,Porsche Avenue,N,E,5,0,6,Unknown_N_Porsche Avenue_E,Atlanta,7,1708,16,15,1
6533,6533,10,33.65287,-84.39762,Porsche Avenue,nan,E,S,6,0,6,Porsche Avenue_E_Unknown_S,Atlanta,7,16,1708,1,15

In [32]:
train_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City,City_Intersection,EntryStreetID,ExitStreetID,EntryType,ExitType
0,1920335,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
1,1920336,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
2,1920337,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
3,1920338,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
4,1920339,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
5,1920340,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,2,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
6,1920341,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,3,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
7,1920342,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,3,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
8,1920343,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,4,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2
9,1920344,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,4,0,...,0.0,0.0,0.0,0.0,Atlanta,0,0,0,2,2

In [33]:
test_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,Month,Path,City,City_Intersection,EntryStreetID,ExitStreetID,EntryType,ExitType
0,0,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,0,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta,1,2,3,0,0
1,1,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,0,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta,1,2,2,0,0
2,2,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,1,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta,1,2,2,0,0
3,3,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,1,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta,1,2,2,0,0
4,4,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,2,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta,1,2,2,0,0
5,5,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,5,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta,1,3,3,0,0
6,6,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,6,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta,1,3,3,0,0
7,7,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,6,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta,1,2,2,0,0
8,8,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,6,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta,1,2,3,0,0
9,9,1,33.75094,-84.39303,Mitchell Street Southwest,Peachtree Street Southwest,SE,NE,7,0,6,Mitchell Street Southwest_SE_Peachtree Street ...,Atlanta,1,3,2,0,0

In [34]:
# 处理转向
dir_dict = {"E":0, "SE":1, "S":2, "SW":3, "W":4, "NW":5, "N":6, "NE":7, 0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7}
train_data["EntryHeading"] = train_data["EntryHeading"].map(dir_dict).astype("int64")
train_data["ExitHeading"] = train_data["ExitHeading"].map(dir_dict).astype("int64")

In [35]:
test_data["EntryHeading"] = test_data["EntryHeading"].map(dir_dict).astype("int64")
test_data["ExitHeading"] = test_data["ExitHeading"].map(dir_dict).astype("int64")

In [36]:
def calc_turn(dataframe):
    # 右转
    dataframe["RightTurn"] = ((dataframe["EntryHeading"] - dataframe["ExitHeading"]) % 8 == 2).astype("int64")
    # 左转
    dataframe["LeftTurn"] = ((dataframe["EntryHeading"] - dataframe["ExitHeading"]) % 8 == 6).astype("int64")
    # 直行
    dataframe["PassThru"] = ((dataframe["EntryHeading"] - dataframe["ExitHeading"]) % 8 == 4).astype("int64")
    # 掉头
    dataframe["UTurn"] = (dataframe["EntryHeading"] - dataframe["ExitHeading"] == 0).astype("int64")
    
    # 靠右
    dataframe["RightSide"] = ((dataframe["ExitHeading"] - dataframe["EntryHeading"]) % 8 > 5).astype("int64")
    # 靠左
    dataframe["LeftSide"] = ((dataframe["ExitHeading"] - (dataframe["EntryHeading"] + 1)) % 8 < 3).astype("int64")
    # 直行
    dataframe["Direction"] = ((dataframe["ExitHeading"] - (dataframe["EntryHeading"])) % 8).astype("int64")

In [37]:
calc_turn(train_data)

In [38]:
calc_turn(test_data)

In [39]:
train_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,ExitStreetID,EntryType,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction
0,1920335,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,5,5,0,0,...,0,2,2,0,0,0,1,0,0,0
1,1920336,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,1,1,0,0,...,0,2,2,0,0,0,1,0,0,0
2,1920337,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,5,5,1,0,...,0,2,2,0,0,0,1,0,0,0
3,1920338,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,1,1,1,0,...,0,2,2,0,0,0,1,0,0,0
4,1920339,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,5,5,2,0,...,0,2,2,0,0,0,1,0,0,0
5,1920340,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,1,1,2,0,...,0,2,2,0,0,0,1,0,0,0
6,1920341,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,5,5,3,0,...,0,2,2,0,0,0,1,0,0,0
7,1920342,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,1,1,3,0,...,0,2,2,0,0,0,1,0,0,0
8,1920343,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,5,5,4,0,...,0,2,2,0,0,0,1,0,0,0
9,1920344,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,1,1,4,0,...,0,2,2,0,0,0,1,0,0,0

In [40]:
test_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,ExitStreetID,EntryType,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction
0,0,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,3,1,0,0,...,3,0,0,1,0,0,0,1,0,6
1,1,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,3,3,0,0,...,2,0,0,0,0,0,1,0,0,0
2,2,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,1,0,...,2,0,0,0,0,0,1,0,0,0
3,3,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,3,3,1,0,...,2,0,0,0,0,0,1,0,0,0
4,4,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,2,0,...,2,0,0,0,0,0,1,0,0,0
5,5,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,1,1,5,0,...,3,0,0,0,0,0,1,0,0,0
6,6,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,1,1,6,0,...,3,0,0,0,0,0,1,0,0,0
7,7,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,6,0,...,2,0,0,0,0,0,1,0,0,0
8,8,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,3,1,6,0,...,3,0,0,1,0,0,0,1,0,6
9,9,1,33.75094,-84.39303,Mitchell Street Southwest,Peachtree Street Southwest,1,7,7,0,...,2,0,0,1,0,0,0,1,0,6

In [41]:
# 高峰期
train_data["RushHour1"] = 8 - train_data["Hour"]
train_data["RushHour2"] = 17 - train_data["Hour"]
test_data["RushHour1"] = 8 - test_data["Hour"]
test_data["RushHour2"] = 17 - test_data["Hour"]

In [42]:
list(train_data.columns.values)

['RowId',
 'IntersectionId',
 'Latitude',
 'Longitude',
 'EntryStreetName',
 'ExitStreetName',
 'EntryHeading',
 'ExitHeading',
 'Hour',
 'Weekend',
 'Month',
 'Path',
 'TotalTimeStopped_p20',
 'TotalTimeStopped_p40',
 'TotalTimeStopped_p50',
 'TotalTimeStopped_p60',
 'TotalTimeStopped_p80',
 'TimeFromFirstStop_p20',
 'TimeFromFirstStop_p40',
 'TimeFromFirstStop_p50',
 'TimeFromFirstStop_p60',
 'TimeFromFirstStop_p80',
 'DistanceToFirstStop_p20',
 'DistanceToFirstStop_p40',
 'DistanceToFirstStop_p50',
 'DistanceToFirstStop_p60',
 'DistanceToFirstStop_p80',
 'City',
 'City_Intersection',
 'EntryStreetID',
 'ExitStreetID',
 'EntryType',
 'ExitType',
 'RightTurn',
 'LeftTurn',
 'PassThru',
 'UTurn',
 'RightSide',
 'LeftSide',
 'Direction',
 'RushHour1',
 'RushHour2']

In [43]:
test_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction,RushHour1,RushHour2
0,0,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,3,1,0,0,...,0,1,0,0,0,1,0,6,8,17
1,1,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,3,3,0,0,...,0,0,0,0,1,0,0,0,8,17
2,2,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,1,0,...,0,0,0,0,1,0,0,0,7,16
3,3,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,3,3,1,0,...,0,0,0,0,1,0,0,0,7,16
4,4,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,2,0,...,0,0,0,0,1,0,0,0,6,15
5,5,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,1,1,5,0,...,0,0,0,0,1,0,0,0,3,12
6,6,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,1,1,6,0,...,0,0,0,0,1,0,0,0,2,11
7,7,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,6,0,...,0,0,0,0,1,0,0,0,2,11
8,8,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,3,1,6,0,...,0,1,0,0,0,1,0,6,2,11
9,9,1,33.75094,-84.39303,Mitchell Street Southwest,Peachtree Street Southwest,1,7,7,0,...,0,1,0,0,0,1,0,6,1,10

In [44]:
drop_colums = ['IntersectionId', 'EntryStreetName',	'ExitStreetName', 'Path', 'TotalTimeStopped_p40', 'TotalTimeStopped_p60', 'TimeFromFirstStop_p20', 'TimeFromFirstStop_p40', 'TimeFromFirstStop_p50', 'TimeFromFirstStop_p60', 'TimeFromFirstStop_p80', 'DistanceToFirstStop_p40', 'DistanceToFirstStop_p60', 'City']
input_data = train_data.drop(drop_colums, axis=1)

In [45]:
input_data.to_csv(data_path + 'input.csv', index=False)

In [46]:
input_data.head(10)

,RowId,Latitude,Longitude,EntryHeading,ExitHeading,Hour,Weekend,Month,TotalTimeStopped_p20,TotalTimeStopped_p50,...,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction,RushHour1,RushHour2
0,1920335,33.79166,-84.43003,5,5,0,0,6,0,0,...,2,0,0,0,1,0,0,0,8,17
1,1920336,33.79166,-84.43003,1,1,0,0,6,0,0,...,2,0,0,0,1,0,0,0,8,17
2,1920337,33.79166,-84.43003,5,5,1,0,6,0,0,...,2,0,0,0,1,0,0,0,7,16
3,1920338,33.79166,-84.43003,1,1,1,0,6,0,0,...,2,0,0,0,1,0,0,0,7,16
4,1920339,33.79166,-84.43003,5,5,2,0,6,0,0,...,2,0,0,0,1,0,0,0,6,15
5,1920340,33.79166,-84.43003,1,1,2,0,6,0,0,...,2,0,0,0,1,0,0,0,6,15
6,1920341,33.79166,-84.43003,5,5,3,0,6,0,0,...,2,0,0,0,1,0,0,0,5,14
7,1920342,33.79166,-84.43003,1,1,3,0,6,0,0,...,2,0,0,0,1,0,0,0,5,14
8,1920343,33.79166,-84.43003,5,5,4,0,6,0,0,...,2,0,0,0,1,0,0,0,4,13
9,1920344,33.79166,-84.43003,1,1,4,0,6,0,0,...,2,0,0,0,1,0,0,0,4,13

In [47]:
test_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction,RushHour1,RushHour2
0,0,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,3,1,0,0,...,0,1,0,0,0,1,0,6,8,17
1,1,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,3,3,0,0,...,0,0,0,0,1,0,0,0,8,17
2,2,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,1,0,...,0,0,0,0,1,0,0,0,7,16
3,3,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,3,3,1,0,...,0,0,0,0,1,0,0,0,7,16
4,4,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,2,0,...,0,0,0,0,1,0,0,0,6,15
5,5,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,1,1,5,0,...,0,0,0,0,1,0,0,0,3,12
6,6,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,1,1,6,0,...,0,0,0,0,1,0,0,0,2,11
7,7,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,7,7,6,0,...,0,0,0,0,1,0,0,0,2,11
8,8,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,3,1,6,0,...,0,1,0,0,0,1,0,6,2,11
9,9,1,33.75094,-84.39303,Mitchell Street Southwest,Peachtree Street Southwest,1,7,7,0,...,0,1,0,0,0,1,0,6,1,10

In [48]:
test_data = test_data.drop(columns=['IntersectionId', 'EntryStreetName','ExitStreetName', 'Path', 'City'])
test_data.head(10)

,RowId,Latitude,Longitude,EntryHeading,ExitHeading,Hour,Weekend,Month,City_Intersection,EntryStreetID,...,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction,RushHour1,RushHour2
0,0,33.75094,-84.39303,3,1,0,0,6,1,2,...,0,1,0,0,0,1,0,6,8,17
1,1,33.75094,-84.39303,3,3,0,0,6,1,2,...,0,0,0,0,1,0,0,0,8,17
2,2,33.75094,-84.39303,7,7,1,0,6,1,2,...,0,0,0,0,1,0,0,0,7,16
3,3,33.75094,-84.39303,3,3,1,0,6,1,2,...,0,0,0,0,1,0,0,0,7,16
4,4,33.75094,-84.39303,7,7,2,0,6,1,2,...,0,0,0,0,1,0,0,0,6,15
5,5,33.75094,-84.39303,1,1,5,0,6,1,3,...,0,0,0,0,1,0,0,0,3,12
6,6,33.75094,-84.39303,1,1,6,0,6,1,3,...,0,0,0,0,1,0,0,0,2,11
7,7,33.75094,-84.39303,7,7,6,0,6,1,2,...,0,0,0,0,1,0,0,0,2,11
8,8,33.75094,-84.39303,3,1,6,0,6,1,2,...,0,1,0,0,0,1,0,6,2,11
9,9,33.75094,-84.39303,1,7,7,0,6,1,3,...,0,1,0,0,0,1,0,6,1,10

In [49]:
test_data.to_csv(data_path + 'predict.csv', index=False)