In [1]:
import pandas as pd

In [4]:
# 一些常量
data_path = 'Kaggle/data/'
train_data_name = 'train.csv'
test_data_name = 'test.csv'
input_data_name = 'input.csv'
pre_data_name = 'predict.csv'
Y_name = 'test_Y_T20.csv'

In [3]:
train_data = pd.read_csv(data_path + train_data_name)
test_data = pd.read_csv(data_path + test_data_name)

In [3]:
input_data = pd.read_csv(data_path + input_data_name)
pre_data = pd.read_csv(data_path + pre_data_name)

In [4]:
train_data.shape

(857409, 28)

In [5]:
test_data.shape

(1920335, 13)

In [6]:
train_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,TimeFromFirstStop_p40,TimeFromFirstStop_p50,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City
0,1920335,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
1,1920336,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
2,1920337,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
3,1920338,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
4,1920339,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
5,1920340,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,2,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
6,1920341,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,3,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
7,1920342,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,3,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
8,1920343,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,4,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta
9,1920344,0,33.79166,-84.43003,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,4,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Atlanta

In [7]:
test_data.head(10)

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,Month,Path,City
0,0,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,0,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta
1,1,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,0,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta
2,2,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,1,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
3,3,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,1,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta
4,4,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,2,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
5,5,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,5,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta
6,6,1,33.75094,-84.39303,Mitchell Street Southwest,Mitchell Street Southwest,SE,SE,6,0,6,Mitchell Street Southwest_SE_Mitchell Street S...,Atlanta
7,7,1,33.75094,-84.39303,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,6,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
8,8,1,33.75094,-84.39303,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,6,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta
9,9,1,33.75094,-84.39303,Mitchell Street Southwest,Peachtree Street Southwest,SE,NE,7,0,6,Mitchell Street Southwest_SE_Peachtree Street ...,Atlanta

In [4]:
input_data.head(10)

,RowId,Latitude,Longitude,EntryHeading,ExitHeading,Hour,Weekend,Month,TotalTimeStopped_p20,TotalTimeStopped_p50,...,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction,RushHour1,RushHour2
0,1920335,33.79166,-84.43003,5,5,0,0,6,0,0,...,2,0,0,0,1,0,0,0,8,17
1,1920336,33.79166,-84.43003,1,1,0,0,6,0,0,...,2,0,0,0,1,0,0,0,8,17
2,1920337,33.79166,-84.43003,5,5,1,0,6,0,0,...,2,0,0,0,1,0,0,0,7,16
3,1920338,33.79166,-84.43003,1,1,1,0,6,0,0,...,2,0,0,0,1,0,0,0,7,16
4,1920339,33.79166,-84.43003,5,5,2,0,6,0,0,...,2,0,0,0,1,0,0,0,6,15
5,1920340,33.79166,-84.43003,1,1,2,0,6,0,0,...,2,0,0,0,1,0,0,0,6,15
6,1920341,33.79166,-84.43003,5,5,3,0,6,0,0,...,2,0,0,0,1,0,0,0,5,14
7,1920342,33.79166,-84.43003,1,1,3,0,6,0,0,...,2,0,0,0,1,0,0,0,5,14
8,1920343,33.79166,-84.43003,5,5,4,0,6,0,0,...,2,0,0,0,1,0,0,0,4,13
9,1920344,33.79166,-84.43003,1,1,4,0,6,0,0,...,2,0,0,0,1,0,0,0,4,13

In [6]:
# 设置控制台显示规则
# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)

In [7]:
input_data.head(10)

,RowId,Latitude,Longitude,EntryHeading,ExitHeading,Hour,Weekend,Month,TotalTimeStopped_p20,TotalTimeStopped_p50,TotalTimeStopped_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p50,DistanceToFirstStop_p80,City_Intersection,EntryStreetID,ExitStreetID,EntryType,ExitType,RightTurn,LeftTurn,PassThru,UTurn,RightSide,LeftSide,Direction,RushHour1,RushHour2
0,1920335,33.79166,-84.43003,5,5,0,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,8,17
1,1920336,33.79166,-84.43003,1,1,0,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,8,17
2,1920337,33.79166,-84.43003,5,5,1,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,7,16
3,1920338,33.79166,-84.43003,1,1,1,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,7,16
4,1920339,33.79166,-84.43003,5,5,2,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,6,15
5,1920340,33.79166,-84.43003,1,1,2,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,6,15
6,1920341,33.79166,-84.43003,5,5,3,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,5,14
7,1920342,33.79166,-84.43003,1,1,3,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,5,14
8,1920343,33.79166,-84.43003,5,5,4,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,4,13
9,1920344,33.79166,-84.43003,1,1,4,0,6,0,0,0,0.0,0.0,0.0,0,0,0,2,2,0,0,0,1,0,0,0,4,13

In [5]:
test = pd.read_csv(data_path + Y_name)

In [6]:
test.head(10)

   0
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

In [7]:
test.columns = ['TotalTimeStopped_p20']

In [8]:
test.head(10)

   TotalTimeStopped_p20
0                     0
1                     0
2                     0
3                     0
4                     0
5                     0
6                     0
7                     0
8                     0
9                     0

In [9]:
test.shape

(857408, 1)

In [11]:
test.to_csv(data_path + 'test.csv', index=False)

In [33]:
input_data = pd.read_csv(data_path + input_data_name)

In [31]:
input_data.columns.values

array(['RowId', 'Latitude', 'Longitude', 'EntryHeading', 'ExitHeading',
       'Hour', 'Weekend', 'Month', 'TotalTimeStopped_p20',
       'TotalTimeStopped_p50', 'TotalTimeStopped_p80',
       'DistanceToFirstStop_p20', 'DistanceToFirstStop_p50',
       'DistanceToFirstStop_p80', 'City_Intersection', 'EntryStreetID',
       'ExitStreetID', 'EntryType', 'ExitType', 'RightTurn', 'LeftTurn',
       'PassThru', 'UTurn', 'RightSide', 'LeftSide', 'Direction',
       'RushHour1', 'RushHour2'], dtype=object)

In [34]:
train_X = input_data.drop(columns=['TotalTimeStopped_p20', 'TotalTimeStopped_p50', 'TotalTimeStopped_p80', 'DistanceToFirstStop_p20', 'DistanceToFirstStop_p50', 'DistanceToFirstStop_p80'], axis=1)
train_Y_T20 = input_data.drop(columns=['RowId', 'Latitude', 'Longitude', 'EntryHeading', 'ExitHeading', 'Hour', 'Weekend', 'Month', 'TotalTimeStopped_p50', 'TotalTimeStopped_p80', 'DistanceToFirstStop_p20', 'DistanceToFirstStop_p50', 'DistanceToFirstStop_p80', 'City_Intersection', 'EntryStreetID', 'ExitStreetID', 'EntryType', 'ExitType', 'RightTurn', 'LeftTurn', 'PassThru', 'UTurn', 'RightSide', 'LeftSide', 'Direction', 'RushHour1', 'RushHour2'], axis=1)
train_Y_T50 = input_data.drop(columns=['RowId', 'Latitude', 'Longitude', 'EntryHeading', 'ExitHeading', 'Hour', 'Weekend', 'Month', 'TotalTimeStopped_p20', 'TotalTimeStopped_p80', 'DistanceToFirstStop_p20', 'DistanceToFirstStop_p50', 'DistanceToFirstStop_p80', 'City_Intersection', 'EntryStreetID', 'ExitStreetID', 'EntryType', 'ExitType', 'RightTurn', 'LeftTurn', 'PassThru', 'UTurn', 'RightSide', 'LeftSide', 'Direction', 'RushHour1', 'RushHour2'], axis=1)
train_Y_T80 = input_data.drop(columns=['RowId', 'Latitude', 'Longitude', 'EntryHeading', 'ExitHeading', 'Hour', 'Weekend', 'Month', 'TotalTimeStopped_p20', 'TotalTimeStopped_p50', 'DistanceToFirstStop_p20', 'DistanceToFirstStop_p50', 'DistanceToFirstStop_p80', 'City_Intersection', 'EntryStreetID', 'ExitStreetID', 'EntryType', 'ExitType', 'RightTurn', 'LeftTurn', 'PassThru', 'UTurn', 'RightSide', 'LeftSide', 'Direction', 'RushHour1', 'RushHour2'], axis=1)
train_Y_D20 = input_data.drop(columns=['RowId', 'Latitude', 'Longitude', 'EntryHeading', 'ExitHeading', 'Hour', 'Weekend', 'Month', 'TotalTimeStopped_p20', 'TotalTimeStopped_p50', 'TotalTimeStopped_p80', 'DistanceToFirstStop_p50', 'DistanceToFirstStop_p80', 'City_Intersection', 'EntryStreetID', 'ExitStreetID', 'EntryType', 'ExitType', 'RightTurn', 'LeftTurn', 'PassThru', 'UTurn', 'RightSide', 'LeftSide', 'Direction', 'RushHour1', 'RushHour2'], axis=1)
train_Y_D50 = input_data.drop(columns=['RowId', 'Latitude', 'Longitude', 'EntryHeading', 'ExitHeading', 'Hour', 'Weekend', 'Month', 'TotalTimeStopped_p20', 'TotalTimeStopped_p50', 'TotalTimeStopped_p80', 'DistanceToFirstStop_p20', 'DistanceToFirstStop_p80', 'City_Intersection', 'EntryStreetID', 'ExitStreetID', 'EntryType', 'ExitType', 'RightTurn', 'LeftTurn', 'PassThru', 'UTurn', 'RightSide', 'LeftSide', 'Direction', 'RushHour1', 'RushHour2'], axis=1)
train_Y_D80 = input_data.drop(columns=['RowId', 'Latitude', 'Longitude', 'EntryHeading', 'ExitHeading', 'Hour', 'Weekend', 'Month', 'TotalTimeStopped_p20', 'TotalTimeStopped_p50', 'TotalTimeStopped_p80', 'DistanceToFirstStop_p20', 'DistanceToFirstStop_p50',  'City_Intersection', 'EntryStreetID', 'ExitStreetID', 'EntryType', 'ExitType', 'RightTurn', 'LeftTurn', 'PassThru', 'UTurn', 'RightSide', 'LeftSide', 'Direction', 'RushHour1', 'RushHour2'], axis=1)

In [35]:
train_X.to_csv(data_path + 'train_X.csv', index=False)
train_Y_T20.to_csv(data_path + 'test_Y_T20.csv', index=False)
train_Y_T50.to_csv(data_path + 'test_Y_T50.csv', index=False)
train_Y_T80.to_csv(data_path + 'test_Y_T80.csv', index=False)
train_Y_D20.to_csv(data_path + 'test_Y_D20.csv', index=False)
train_Y_D50.to_csv(data_path + 'test_Y_D50.csv', index=False)
train_Y_D80.to_csv(data_path + 'test_Y_D80.csv', index=False)

In [18]:
type(train_Y_D50)

pandas.core.series.Series